[Desktop Entry]
Version=1.0
Name=AndroidStudio
Comment=MakeAndroidAPK
Exec=/opt/android-studio/bin/studio.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/android-studio/bin/studio.svg
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=AndroidStudio
StartupNotify=true
