[Desktop Entry]
Version=1.0
Name=AviUtl
Comment=AviUtl(Wine)
Exec=wine AviUtl_file/aviutl110/aviutl.exe
X-ICE-SSB-Profile=aviutl
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/neko/AviUtl_file/aviutl110/aviutl_likeoffice.png
Categories=GTK;AudioVideo;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=AviUtl
StartupNotify=true
